{% extends 'base.html' %}

{% block content %}




<div class="container"> 
  

  <table class="table table-hover table-bordered ">
    <thead>
      <tr>
     	<th>Fee Type</th>
  		<th>Amount</th>
  		<th>Select All
  		<input type="checkbox" id="ckbCheckAll" /></th>  

      </tr>
    </thead>
    <tbody>
      {% for item in fee %}
		<tr>
		  <td> {{ item.fee_type}}</td> 
		  <td> {{item.amount}} </td> 
		  <td> <input type="checkbox" id="feechk" value={{item.amount}} class="checkBoxClass" /> </td> 

		</tr> 
		{% endfor %}
		<tr>
			<th>Total Amount</th>
			<th><span id="total">0</span>            
      </th>
      <form class="form-group" method="post" action="/university/payment/"  id="payment">   
      {% csrf_token %}  
      <input id="fee_total" name="fee_total" type="hidden" value="0">
			<th><button type="submit" id="pay" class="btn btn-sm btn-success">Pay</button> </th>
      </form>
		</tr>

    </tbody>
  </table>  
</div>
{% endblock %}