{% extends 'base.html' %}
{% block content %}
<form class="form-group" method="post"  id="studentForm" data-branch-url="{% url 'load_branch' %}>
	{% csrf_token %}	
	{% load static %} 
	
	<h2>Sign up</h2>		

	  {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
		
	<button type="submit" id="create" class="btn btn-sm btn-success">Sign up</button>	
	      
</form>


 


{% endblock %}
