<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{% block title %}DjangoX{% endblock title %}</title>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
        	<div class="text-center">
                    <h1>Fee Receipt</h1>
                </div>
            <div class="row">

                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>{{paytm.firstname}} {{paytm.lastname}}</strong>
                        <br>
                        {{paytm.enrollment_number}}
                        <br>
                        {{paytm.branch}}
                        <br>
                        {{paytm.institute}}
                        <br>                        
                        <abbr title="Mobile">P:</abbr>{{paytm.phone}}
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                		<br>
                        Order Date: {{paytm.TXNDATE}}
                        <br>
                        Order Id: {{paytm.ORDERID}}
                        <br>
						Gateway Name: {{paytm.GATEWAYNAME}}
						<br>
                        Status: {{paytm.STATUS}}                    
                        <br>
                </div>
            </div>
            <div class="row">
                
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th></th>                           
                            <th class="text-center">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><em>Admission + Course Fee</em></h4></td>
                            <td class="col-md-1 text-center"></td>
                            <td class="col-md-1 text-center">{{paytm.TXNAMOUNT}}</td>
                        </tr>                        
                        <tr>
                            <td><button type="button" class="btn btn-success">Pdf <i class="fa fa-file-pdf-o"></i></button>  
                            	    <a href="{% url 'pdf_generation' %}">PDFNEW<i class="fa fa-file-pdf-o"></i></a>

                             </td>                            
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-success"><h4><strong>{{paytm.TXNAMOUNT}}</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
                

            </div>
        </div>
    </div>
</body>
</html>